<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Koopipedia</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/css/application.css"> -->

		<style>
			body {
    		padding-top: 100px;
			}
		</style>
